/*body {
    background-image: url("starry.jpg");
}
*/


        .clock {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        color: white;
        font-size: 50px;
        font-family: Helvetica;
        letter-spacing: 7px;
        transition-delay: 3s;
        text-align: center;
   


        }

        #mainHeading {
	   font-size: 2em;
       color: white;
	   font-family: Helvetica;
	   text-align: center;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        padding: 3em 1.5em;

        }

        #mainHeading.changesSize {
	   transition-duration: 3s;
	   font-size: 3em;

        }


            @media only screen and (min-width: 600px){
                div{
                    margin: auto;
                    margin-top: 20px;
                }

                #mainHeading.changesSize {
                transition-duration: 3s;
                font-size: 3.5em;
                }

            }

             @media only screen and (min-width: 900px){
                div{
                    width: 30%;
                    margin: 20px;

                }

                h1{
                    height: 200px;
                

                }

                h1:hover{
                    background: violet;
                    border-radius: 50%;
                }

                #mainHeading.changesSize {
                transition-duration: 3s;
                font-size: 4em;

                }


            }

             @media only screen and (min-width: 1300px){
                div{
                    width: 20%;
                }

                h1{
                    height: 300px;

                }

                #mainHeading.changesSize {
                transition-duration: 3s;
                font-size: 4.5em;

                }

            }

